/* -----CSS RESET----- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

/* ----------------------- */

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 1.2;
  text-align: center
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.8125rem;
}

.main-section-home {
  background-image: url(asset_path("machu_picchu.jpg"));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 73vh;
}

.main-section-home__contents {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .main-section-home__contents {
    left: 70%;
    width: 50%;
  }
}

.main-section-about {
  background-image: url(asset_path("colorful_hills.jpg"));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 73vh;
}

.main-section-about__contents {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.main-section-signup {
  background-image: url(asset_path("alpaca_peeking.jpg"));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 73vh;
}

.main-section-signup__contents {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.title {
  color: white;
  text-align: center;
  margin: 3rem;
  text-shadow: 0 2px 3px rgba(0,0,0,0.4);
}

.subheading {
  font-weight: 300;
}

.btn {
  background-color: #2E72BD;
  padding: 0.75rem 1.25rem;
  font-weight: 400;
  color: white;
  display: inline-block;
}

.btn:hover {
  background-color: #286090;
}

.supporting-section, .discover-section {
  padding: 5rem 0.9375rem;
}

.supporting-section h2, .discover-section h2 {
  margin: 1.875rem auto;
}

.supporting-section p, .discover-section p {
  font-size: 1.3125rem;
  margin-bottom: 0.625rem;
}

.secondary-section {
  background-image: url(asset_path("llamas.jpg"));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 52vh;
}

.btn-signup {
  margin-top: 1.875rem;
}

.footer {
  padding: 40px 0;
  text-align: center;
  background-color: #f9f9f9;
  border-top: solid 1px #f5f5f5;
}

.footer p {
  font-size: 0.75rem;
  color: #aaa;
  text-transform: uppercase;
  font-weight: 300;
}

.menu-icon--open {
  position: absolute;
  top: 1.875rem;
  left: 1.875rem;
  width: 24px;
  height: 24px;
}
